@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

nav.navbar {
  margin-bottom: 0px;
}
.banner-row {
  position: relative;
}

img.banner-image {
  width: 100%;
}

div.banner-text {
  position: absolute;
  top: 25%;
  right: 8%;
}

h1.banner-tittle {
  font-family: 'Dancing Script', cursive;
  font-size: 400%;
  font-weight: bold;
  text-shadow: 2px 2px rgb(12, 12, 12);
  color: rgb(238, 252, 49);
  display: inline;
  vertical-align: middle;
}

p.banner-description {
  font-family: 'Dancing Script', cursive;
  font-size: 300%;
  font-weight: bold;
  text-shadow: 2px 2px rgb(12, 12, 12);
  color: rgb(238, 252, 49);
  display: inline;
  vertical-align: middle;
  padding-left: 20px;
}